body::-webkit-scrollbar{
  background-color: #333;
  width: 10px;
}
body::-webkit-scrollbar-thumb{
  background-color: lightcoral;
  border-radius: 10px;
}

body{
  overflow-x: hidden;
}
.main{
  &--img{
    @include laptop{
      width: 45%;
      margin-left: 15%;
    }
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  &--info{
    @include laptop{
      width: 35%;
      height: 300px;
      transform: translateY(-105%) translateX(50%);
    }
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 220px;
    background-color: #eee;
  }
  &--title{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    font-size: 2em;
    font-weight: 300;
  }
  &--paragraph{
    text-align:center;
    color: $darkgray;
  }
}
.creation{
@include laptop{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}
  @include laptop{
    &--images{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      gap: 20px 10px;
    }
  }
  position: relative;
  @include laptop{
    margin-top: -200px;
  }
  &--title{
    @include laptop{
      text-align: left;
      font-size: 4em;
      grid-column: span 4;
    }
    text-align: center;
    font-size: 2.5em;
    font-weight: 300;
    letter-spacing: 5px;
  }
  &--img{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 10px;
  }
  &--p{
    width: 30%;
    text-transform: uppercase;
    font-size: 1.5em;
    position: absolute;
    bottom: 0;
    left: 15px;
    color: $white;
  }
  &--button{
    @include laptop{
      position: absolute;
      top: 50px;
      right: 10%;
      cursor:pointer;
      &:hover{
        background-color: $black;
        color: $white;
        border: 2px solid lightgreen;
      }
    }
    width: 180px;
    margin-top: 20px;
    margin-left: 25%;
    background-color: transparent;
    border: 1px solid $darkgray;
    outline: none;
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 1.5em;
  }
}